body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	overflow-x: hidden;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	margin: 0;
}

div, p, input, button, form, span, a {
	box-sizing: border-box;
}

p {
	line-height: 1.6em;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header {
	overflow: hidden;
	color: #fff;
	padding-top: 65px;
	padding-bottom: 100px;
	background: rgba(78,192,254,1);
	background: -moz-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(78,192,254,1)), color-stop(100%, rgba(55,144,217,1)));
	background: -webkit-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -o-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: -ms-linear-gradient(left, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	background: linear-gradient(to right, rgba(78,192,254,1) 0%, rgba(55,144,217,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4ec0fe', endColorstr='#3790d9', GradientType=1 );
}

.wrapper {
	display: flex;
	justify-content: space-between;
}

.offer {
	width: 560px;
	margin-top: 170px;
}

.title {
	font-size: 36px;
}

.title span {
	font-size: 59px;
}

.intro {
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 46px;
	width: 405px;
}

.btn {
	background: #ffd429;
	text-decoration: none;
	color: #2e2a1b;
	font-family: 'Montserrat', sans-serif;
	padding: 23px 0;
	width: 222px;
	display: block;
	text-align: center;
	transition: all 0.5s ease;
}

.btn:hover {
	background: #c19d0e;
}

.image {
	margin-top: 55px;
	margin-right: -38px;
}

.section-title {
	font-size: 30px;
	color: #201b2d;
	text-align: center;
}

.wait {
	padding-top: 110px;
	padding-bottom: 120px;
}

.waitings {
	padding-top: 72px;
	display: flex;
	justify-content: space-between;
	color: #201b2d;
}

.waiting {
	width: 285px;
	text-align: center;
}

.waiting-title {
	font-size: 19px;
	padding-top: 33px;
}

.waiting-text {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}

.ticket {
	background: #ecf3f8;
	padding: 105px 0;
}

.tickets {
	text-align: center;
}

input {
	display: block;
	width: 100%;
	padding: 14px 0;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	margin-bottom: 15px;
	border-radius: 3px;
	border: 1px solid #bbbbbb;
	padding-left: 24px;
}

form {
	padding-top: 60px;
	margin: 0 auto;
	width: 345px;
}

.ticket-btn {
	background: #ffd429;
	text-decoration: none;
	color: #2e2a1b;
	font-family: 'Montserrat', sans-serif;
	padding: 20px 0;
	width: 100%;
	text-align: center;
	border: none;
	transition: all 0.5s ease;
}

.ticket-btn:hover {
	background: #c19d0e;
}

.footer {
	background: #164d7a;
}

.footer-text {
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	padding: 60px 0;
	text-align: center;
	color: #fff;
}

.red {
	color: #000;
}

.animated {
	opacity: 0;
}


/* 992px - 1200px */
@media screen and (max-width: 1200px) {
	.container {
		width: 960px;
	}
	.image {
		display: block;
		width: 75%;
	}
}

/* 768px - 992px */
@media screen and (max-width: 992px) {
	.container {
		width: 720px;
	}
	.wrapper {
		flex-direction: column;
	}
	.offer {
		width: 100%;
	}
	.intro {
		width: 100%;
	}
	.image {
		display: block;
		width: 100%;
		margin: -38px auto 0;
	}
	.waitings {
		flex-direction: column;
	}
	.waiting {
		width: auto;
	}
	.btn {
		width: 100%;
		border-radius: 25px;
		margin-bottom: 25px;
	}
	.header {
		text-align: center;
	}
}

/* 576px - 768px */
@media screen and (max-width: 768px) {
	.container {
		width: 540px;
	}
	.btn {
		margin: 0 auto;
		margin-bottom: 20px;
		width: 90%;
	}
	
}

/* 320px - 576px */
@media screen and (max-width: 576px) {
	.container {
		width: auto;
	}
	form {
		width: 90%;
	}
	.btn {
		margin-bottom: 25px;
		padding: 15px 0;
	}
} 